%footer
  %span
    Dit is een minor van de opleiding
    = link_to 'Communication & Multimedia Design', 'http://www.cmd-leeuwarden.nl'
    en niet gelieerd aan
    = link_to 'The Next Web', 'http://thenextweb.com'
    \.
  = link_to 'Beheer', admin_path
