.event-list {
  width: 100%;

  @include media($mobile) {
    margin-left: 0;
  }

  tr {
    border-collapse: collapse;

    th {
      text-align: left;
    }

    td {
      &:first-child {
        width: 1px;
      }
    }
  }
}
