footer {
  @include span-columns(12);

  background: #eee;
  color: white;
  font-size: 13px;
  padding: 10px;
  margin-top: $gutter;

  &:hover {
    background-color: #ccc;
  }

  a {
    color: white;
  }

  > a {
    float: right;
  }
}
