footer {
  background: #eee;
  color: white;
  font-size: 13px;
  padding: 10px;

  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;

  &:hover {
    background-color: #ccc;
  }

  a {
    color: white;
  }

  > a {
    float: right;
  }

  @include media($mobile) {
    @include span-columns(4);
    position: static;

    > a {
      display: none;
    }
  }
}
