footer {
  @include span-columns(12);

  border-top: #ddd 1px solid;
  color: #ddd;
  font-size: 13px;
  padding-top: 15px;
  margin-top: $gutter;

  a {
    color: #ccc;
  }

  > a {
    float: right;
  }
}
