header {
  height: 75px;
  margin: $gutter 0;

  h1, nav {
    line-height: 75px;
  }

  h1 {
    margin: 0;
    padding: 0;

    @include span-columns(1);
    $logo-width: 346 / 4;
    $logo-width-px: unquote("#{$logo-width}px");

    a {
      @include retina-image(logo, 346px 75px);
      @include hide-text;

      color: $primary-color;
      display: block;
      height: 75px;
      width: $logo-width-px;

      &.state-2 {
        background-position: unquote("-#{$logo-width}px");
      }

      &.state-3 {
        background-position: unquote("-#{$logo-width * 2}px");
      }

      &.state-4 {
        background-position: unquote("-#{$logo-width * 3}px");
      }
    }
  }

  nav {
    @include span-columns(11);
    @include omega;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: $gutter;

        a {
          font-weight: bold;
        }

        &.root a {
          color: black;
          font-weight: normal;
          padding-left: $gutter;
          text-decoration: none;
        }
      }
    }
  }
}
