%article
  %h1= link_to_unless params.key?(:id), post.title, post
  = markdown(post.body)

  - if logged_in?
    %p= link_to 'Bewerk deze post', [:edit, post]
    %p= link_to 'Verwijder deze post', post, method: :delete
