%article
  %h1= link_to_unless params.key?(:id), post.title, post
  = markdown(post.body)

  - if logged_in?
    %p.admin-buttons
      = link_to 'Bewerk deze post', edit_admin_post_path(post)
      \-
      = link_to 'Verwijder deze post', [:edit, post], method: :delete
