@import 'bourbon';
@import 'neat';

$asset-pipeline: true;

$primary-color: #5e240f;
$secondary-color: #6196a9;

$mobile: new-breakpoint(max-width 480px 4);

main {
  @include outer-container;

  font-family: 'Varela Round';
  margin-bottom: $gutter * 2;

  @include media($mobile) {
    margin-bottom: 0;

    > section > *, > aside > * {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  > section {
    @include span-columns(8);

    @include media($mobile) {
      @include span-columns(4);
    }
  }

  > aside {
    @include span-columns(4);
    @include omega;

    h1 a {
      color: $primary-color;
    }

    @include media($mobile) {
      @include span-columns(4);
    }
  }

  > section, > aside {
    > h1 {
      color: $primary-color;
      font-size: em(25);
    }
  }

  a {
    color: $secondary-color;
  }

  table {
    width: 100%;

    tr {
      td, th {
        padding: 5px 10px;
      }

      th {
        background: $secondary-color;
        color: white;
      }

      &:nth-child(odd) td {
        background: #eee;
      }
    }
  }

  .table-wrapper {
    width: 100%;

    @include media($mobile) {
      overflow: auto;
      margin: 0 0 $gutter;
    }
  }
}
