@import 'bourbon';
@import 'neat';

$asset-pipeline: true;

$primary-color: #5e240f;
$secondary-color: #6196a9;

main {
  @include outer-container;
  font-family: 'Varela Round';

  > section {
    @include span-columns(8);
  }

  > aside {
    @include span-columns(4);
    @include omega;
  }

  > section, > aside {
    > h1 {
      color: $primary-color;
      font-size: em(25);
    }
  }

  a {
    color: $secondary-color;
  }
}
